<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts List</title>
    <link rel="stylesheet" href="../main.css" type="text/css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="centerDiv">
        <div class="contactsHeader">
            <h3 class="headline">List of Contacts</h3>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Contact Info</th>
                </tr>
                <% for (var i = 0; i < userList.length; i++) { %>
                    <tr>
                      <td><%= userList[i].firstName%> <%=userList[i].lastName %></td>
                      <td>
                      <form action="/contacts/info" , method = "POST">
                        <input type="hidden" name="userID" value=<%=userList[i]._id%>></input>
                        <button type="submit">Info</button>
                      </form>
                      <td>
                    </tr>    
                <% } %>
            </table>
            <button onclick="history.back()">Back</button>
        </div>
    </div>

</body>
</html>