<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts List</title>
    <link rel="stylesheet" href="../main.css" type="text/css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="centerDiv">
        <div class="contactsHeader">
            <h3 class="headline">List of Sent Messages : </h3>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Time/Date</th>
                </tr>
                <% for (var i = 0; i < messageList.length; i++) { %>
                    <tr>
                      <td><%= messageList[i].recieverName%></td>
                      <td><%= (messageList[i].dateTime)%></td>
                      <td>
                        <form action="/message/info" method="POST">
                            <input type="hidden" name="messageID" value=<%=messageList[i]._id%>></input>
                            <button type="submit" >Info</button>
                        </form>
                    </td>
                    </tr>    
                   <% } %>
            </table>
            <button onclick="history.back()">Back</button>
        </div>
    </div>
</body>
</html>